.title {
    font-size: 350%;
    margin-left: 20%;
    font-family: 'Gloria Hallelujah', cursive;
    color: #8a4300;
    background-color: white;
    margin-right: 15%;
    padding: 0.5%;
    text-align: center;
}


#breed {
    font-size: 300%;
    font-family: "Playwrite DE Grund", cursive;
    color: #693b10;
}

#breed_ai {
    font-size: 300%;
    margin-left: 2%;
    font-family: "Playwrite DE Grund", cursive;
    color: #8a4300;
}


#b, #upload, #file {
    font-size: 250%;
    padding: 0.5%;
    font-family: 'Heebo', sans-serif;
    color:#c76000;
    background-color: white;
    border-width: 5px;
    border-color: #c76000;
    margin-left: 25%;
}

#file, #file:hover {
    width: 56%;
    background: none;
    margin-left: 24.5%;
}

input::file-selector-button {
    font-size: 100%;
    padding: 0.5%;
    font-family: 'Heebo', sans-serif;
    color:#c76000;
    background-color: white;
    border-width: 5px;
    border-color: #c76000;
}

input::file-selector-button:hover {
    font-size: 100%;
    padding: 0.5%;
    font-family: 'Heebo', sans-serif;
    color:#d28c00;
    border-width: 5px;
    border-color: #d68f00;
}


#b:hover, #upload:hover, #file:hover {
    font-size: 250%;
    padding: 0.5%;
    font-family: 'Heebo', sans-serif;
    color:#d28c00;
    border-width: 5px;
    border-color: #d68f00;
}

#a {
    text-align: center;
}

#button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 7%;
}

.form {
    display: inline;
}

body{
    background: url(back.png) no-repeat center center fixed; 
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
 }


img{
    border: 8px solid white;
}

#dogBreed {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 245, 235);
    margin-left: 21.8%;
    width: 60%;
    height: 50%;
}